In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
#data frame
df=pd.read_csv("dataset/audi.csv")

In [3]:
df.head(5) #data frame çalışıyo mu bak bakalım

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642
3,11,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,https://www.autotrader.co.uk/car-details/20221...,3745.000000,41,449,83,573
4,12,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,https://www.autotrader.co.uk/car-details/20220...,3700.000000,12,452,85,549

PREPROCESSING

In [4]:
df=df.drop(columns=['index','href','MileageRank','PriceRank','PPYRank','Score'])
df

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667
3,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,3745.000000
4,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,3700.000000
...,...,...,...,...,...,...,...,...,...,...
466,2014.0,Hatchback,40195.0,1.4L,138.067061,Automatic,Petrol,3,11275.0,5637.500000
467,2020.0,Hatchback,26218.0,1.0L,114.398422,Manual,Petrol,1,18495.0,2311.875000
468,2017.0,Hatchback,48571.0,1.4L,123.274162,Manual,Petrol,2,11995.0,2399.000000
469,2020.0,Hatchback,9584.0,1.0L,93.688363,Manual,Petrol,1,19970.0,2496.250000
470,2019.0,Hatchback,17303.0,1.0L,114.398422,Manual,Petrol,1,17195.0,2456.428571

In [5]:
df.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat","ppy"]
df

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667
3,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,3745.000000
4,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,3700.000000
...,...,...,...,...,...,...,...,...,...,...
466,2014.0,Hatchback,40195.0,1.4L,138.067061,Automatic,Petrol,3,11275.0,5637.500000
467,2020.0,Hatchback,26218.0,1.0L,114.398422,Manual,Petrol,1,18495.0,2311.875000
468,2017.0,Hatchback,48571.0,1.4L,123.274162,Manual,Petrol,2,11995.0,2399.000000
469,2020.0,Hatchback,9584.0,1.0L,93.688363,Manual,Petrol,1,19970.0,2496.250000
470,2019.0,Hatchback,17303.0,1.0L,114.398422,Manual,Petrol,1,17195.0,2456.428571

In [6]:
df['motor']=df['motor'].str.replace("L","")
df

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4,123.274162,Manual,Petrol,2,10799.0,3599.666667
3,2014.0,Hatchback,86000.0,1.6,103.550296,Manual,Diesel,3,7490.0,3745.000000
4,2014.0,Hatchback,104310.0,1.6,103.550296,Manual,Diesel,3,7400.0,3700.000000
...,...,...,...,...,...,...,...,...,...,...
466,2014.0,Hatchback,40195.0,1.4,138.067061,Automatic,Petrol,3,11275.0,5637.500000
467,2020.0,Hatchback,26218.0,1.0,114.398422,Manual,Petrol,1,18495.0,2311.875000
468,2017.0,Hatchback,48571.0,1.4,123.274162,Manual,Petrol,2,11995.0,2399.000000
469,2020.0,Hatchback,9584.0,1.0,93.688363,Manual,Petrol,1,19970.0,2496.250000
470,2019.0,Hatchback,17303.0,1.0,114.398422,Manual,Petrol,1,17195.0,2456.428571

In [7]:
df=pd.get_dummies(df,columns=['kasa','vites','yakit'],drop_first=True)
df['motor']=pd.to_numeric(df['motor'])
df["yil"]=df["yil"].astype(int)
df["mil"]=df["mil"].astype(int)
df["fiyat"]=df["fiyat"].astype(int)
df["vites_Manual"]=df["vites_Manual"].astype(int)
df["yakit_Petrol"]=df["yakit_Petrol"].astype(int)

df

,yil,mil,motor,ps,sahip,fiyat,ppy,vites_Manual,yakit_Petrol
0,2018,44000,1.6,114.398422,1,14995,2499.166667,1,0
1,2016,42596,1.0,93.688363,3,10755,2688.750000,1,1
2,2015,42700,1.4,123.274162,2,10799,3599.666667,1,1
3,2014,86000,1.6,103.550296,3,7490,3745.000000,1,0
4,2014,104310,1.6,103.550296,3,7400,3700.000000,1,0
...,...,...,...,...,...,...,...,...,...
466,2014,40195,1.4,138.067061,3,11275,5637.500000,0,1
467,2020,26218,1.0,114.398422,1,18495,2311.875000,1,1
468,2017,48571,1.4,123.274162,2,11995,2399.000000,1,1
469,2020,9584,1.0,93.688363,1,19970,2496.250000,1,1
470,2019,17303,1.0,114.398422,1,17195,2456.428571,1,1

In [8]:
y=df[['fiyat']]
x=df.drop("fiyat",axis=1)
lm=LinearRegression()
model=lm.fit(x,y)
df

,yil,mil,motor,ps,sahip,fiyat,ppy,vites_Manual,yakit_Petrol
0,2018,44000,1.6,114.398422,1,14995,2499.166667,1,0
1,2016,42596,1.0,93.688363,3,10755,2688.750000,1,1
2,2015,42700,1.4,123.274162,2,10799,3599.666667,1,1
3,2014,86000,1.6,103.550296,3,7490,3745.000000,1,0
4,2014,104310,1.6,103.550296,3,7400,3700.000000,1,0
...,...,...,...,...,...,...,...,...,...
466,2014,40195,1.4,138.067061,3,11275,5637.500000,0,1
467,2020,26218,1.0,114.398422,1,18495,2311.875000,1,1
468,2017,48571,1.4,123.274162,2,11995,2399.000000,1,1
469,2020,9584,1.0,93.688363,1,19970,2496.250000,1,1
470,2019,17303,1.0,114.398422,1,17195,2456.428571,1,1

In [9]:
model.predict([[2017,30000,1.6,110.2,2,2600.2,0,1]]) 
#çift [[]] !!!!  :(

C:\Users\dikba\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13144.65429415]])

In [10]:
model.score(x,y)
#doğruluk oranı

0.9595295772839718